<% if(error){ %>
    <div class="modal">
      <form action="/error" method="post">
        <p><%= errorMessage%></p>
        <button type="submit" id="errorbtn">x</button>
      </form>
    </div>
    <% }%>