<%- include('header');-%>
<h1>Title</h1>

<form action="/" method="POST">
  <input type="text" name="todo" />
  <button type="submit" name="submit" value="todo">+</button>
</form>

<ul>
  <% todos.forEach(todo => { %>
  <li><%= todo %></li>

  <% })%>
</ul>
<%- include('footer');-%>
